<h1>Edit Shelter</h1>

<div class="container-sm mx-5 mb-4">
  <%= bootstrap_form_with url: "/shelters/#{@shelter.id}", method: :patch, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :city %>
    <%= f.check_box :foster_program %>
    <%= f.number_field :rank %>
    <%= f.submit %>
  <% end %>
</div>
