<h1>Edit Veterinarian</h1>

<div class="container-sm mx-5 mb-4">
  <%= bootstrap_form_with url: "/veterinarians/#{@veterinarian.id}", method: :patch, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.check_box :on_call %>
    <%= f.number_field :review_rating %>
    <%= f.submit %>
  <% end %>
</div>
