<h1>New Application</h1>

<div class="container-sm mx-5 mb-4">
  <%= bootstrap_form_with model: @application, url: applications_path, method: :post, local: true do |f| %>
    <%= f.text_field :name, required: true, placeholder: 'Full name' %>
    <%= f.text_field :street_address, required: true, placeholder: "1234 Main St."  %>
    <%= f.text_field :city, required: true %>
    <%= f.select :state, options_for_select(us_states), required: true%>
    <%= f.text_field :zip_code, required: true%>
    <%= f.text_area :description, label: 'Why would you make a good home for a new pet?', required: true %>
    <%= f.submit 'Save' %>
  <% end %>
</div>
