<h1><%= @application.name %></h1>

<p>Address: <%= @application.display_address %></p>
<p>Summary statement: <%= @application.description %></p>
<p>Application status: <%= @application.display_status %></p>

<p>Pets applied for:</p>
<ul>
  <% @application.pets.each do |pet| %>
    <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
  <% end %>
</ul>

<div>
  <p>Add a Pet to this Application:</p>
  <%= form_with url:"/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search, 'Search by Name' %>
    <%= f.text_field :search, required: true %>
    <%= f.submit 'Search' %>
  <% end %><br/>

  <% if !@search_results.nil? %>
    <p>Results: </p>
    <ul>
      <% @search_results.each do |result| %>
          <li><%= result.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>
