<h1><%= @application.name %></h1>

<p>Address: <%= @application.display_address %></p>
<p>Summary statement: <%= @application.description %></p>
<p>Application status: <%= @application.display_status %></p>

<div id="applied-for">
  <p>Pets applied for:</p>
  <% if @application.pets.empty? %>
    <p>None yet! To submit your application, please add at least one pet.</p>
  <% else %>
    <ul>
      <% @application.pets.each do |pet| %>
        <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @application.status == 'in_progress' && @application.pets.present? %>
  <div>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
      <%= f.label :description, 'Would you like to make any additions or updates to let us know why you would make a great home for a new pet?' %>
      <%= f.text_area :description, value: @application.description %>
      <%= f.submit 'Submit application' %>
    <% end %>
  </div>
<% end %>

<% if @application.status == 'in_progress' %>
  <div>
    <p>Add a Pet to this Application:</p>
    <%= form_with url:"/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search, 'Search by Name' %>
      <%= f.text_field :search, required: true %>
      <%= f.submit 'Search' %>
    <% end %><br/>

    <% if !@search_results.nil? %>
      <p>Results: </p>
      <ul>
        <% @search_results.each do |pet| %>
            <li id="pet-<%= pet.id %>">
              <h3><%= pet.name %></h3>
              <p>Breed: <%= pet.breed %></p>
              <p>Age: <%= pet.age %></p>
              <p>Shelter: <%= pet.shelter.name %></p>
              <a href="/pets/<%= pet.id %>" target="_blank" >More info</a>
              <%= button_to 'Adopt this pet', "/applications/#{@application.id}", method: :get, params: {pet_id: pet.id} %>
            </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
