<h1>All pets</h1>

<div class="container-sm mx-5 mb-4">
  <%= link_to 'Start an application', '/applications/new', method: :get %><br/><br/>
  <%= render partial: 'pet_search', locals: { path: '/pets' } %>

  <% @pets.each do |pet| %>
    <div class="index-each">
      <h3><%= pet.name %></h3>
      <p>Age: <%= pet.age %></p>
      <p>Breed: <%= pet.breed %></p>
      <p>Adoptable: </p>
      <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
      <%= render partial: 'partials/index_edit_delete', locals: { name: pet.name, edit_path: "/pets/#{pet.id}/edit", delete_path: "/pets/#{pet.id}"} %>
    </div>
  <% end %>
</div>
