<h1><%= @pet.name %></h1>

<div class="container-sm mx-5 mb-4">
  <p><b>Age:</b> <%= @pet.age %> years old</p>
  <p><b>Breed:</b> <%= @pet.breed %></p>
  <p><b>Available for adoption:</b> <%= @pet.adoptable %></p>
  <p><b>Location:</b> <%= @pet.name %> can be found at <%= @pet.shelter_name %>.</p><br/>

  <p><%= button_to "Update #{@pet.name}", edit_pet_path, class: "btn btn-secondary" %></p>
  <p><%= button_to "Delete #{@pet.name}", pet_path, method: :delete, class: "btn btn-secondary"  %></p>
</div>
