<div class="container-sm mx-5 mb-4">
  <%= render partial: 'applications/application_details' %><br/>

  <div id="applied-for">
    <h3>Pets applied for:</h3><br/>
    <% if @application.pets.empty? %>
      <p>No pets have been added to this application.</p>
    <% else %>
      <ul>
        <% @application.pets.each do |pet| %>
          <div id="pet-<%= pet.id %>">
            <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li><br/>
            <% if pet.approved?(@application.id) %>
              <p>Approved!</p>
            <% elsif pet.rejected?(@application.id) %>
              <p>Rejected.</p>
            <% elsif pet.adoptable == false %>
              <p>Too slow! Sorry, but this pet has been already approved for adoption.</p>
              <%= button_to 'Reject', pet_application_path, method: :patch, params: {status: :rejected, pet_id: pet.id} %>
            <% else %>
              <%= button_to 'Approve', pet_application_path, method: :patch, params: {status: :approved, pet_id: pet.id} %><br/>
              <%= button_to 'Reject', pet_application_path, method: :patch, params: {status: :rejected, pet_id: pet.id} %>
            <% end %>
          </div><br/>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
