<div class="container-sm mx-5 mb-4">
  <%= render partial: 'applications/application_details' %><br/>

  <div id="applied-for">
    <h3>Pets applied for:</h3><br/>
    <% if @application.pets.empty? %>
      <p>No pets have been added to this application.</p>
    <% else %>
      <% @application.pets.each do |pet| %>
        <div class="index-each my-3" id="pet-<%= pet.id %>">
          <h4><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h4><br/>
          <% if pet.approved?(@application.id) %>
            <p>Approved!</p>
          <% elsif pet.rejected?(@application.id) %>
            <p>Rejected.</p>
          <% elsif pet.adoptable == false %>
            <p>Too slow! Sorry, but this pet has been already approved for adoption.</p>
            <%= button_to "Reject", pet_application_path, method: :patch, params: {status: :rejected, pet_id: pet.id}, class: "btn btn-secondary" %>
          <% else %>
            <%= button_to 'Approve', pet_application_path, method: :patch, params: {status: :approved, pet_id: pet.id}, class: "btn btn-secondary" %><br/>
            <%= button_to 'Reject', pet_application_path, method: :patch, params: {status: :rejected, pet_id: pet.id}, class: "btn btn-secondary" %>
          <% end %>
        </div><br/>
      <% end %>
    <% end %>
  </div>
</div>
