<h1>Edit Veterinary Office</h1>

<div class="container-sm mx-5 mb-4">
  <%= bootstrap_form_with url: "/veterinary_offices/#{@vet_office.id}", method: :patch, local: true do |f| %>
    <%= f.text_field :name %>
    <%= f.check_box :boarding_services %>
    <%= f.number_field :max_patient_capacity %>
    <%= f.submit %>
  <% end %>
</div>
