<h1><%= @shelter.name %></h1>

<div class="container-sm mx-5 mb-4">
  <p>Location: <%= @shelter.city %></p><br/>

  <div>
    <h3>Shelter Stats:</h3><br/>
    <p><b>Pets available:</b> <%= @shelter.adoptable_pet_count %>
    <p><b>Average age of available pets:</b> <%= @shelter.avg_adoptable_pet_age.round(2) %></p>
    <p><b>Total pets adopted to date:</b> <%= @shelter.adopted_pet_count %></p>
  </div><br/>

  <div id="action-required">
    <h3>Action Required</h3>
      <div class="index-each">
        <% @shelter.pending_pets.each do |pet| %>
          <h4><a href="/admin/applications/<%= pet.pending_application_id %>"><%= pet.name %></a></h4>
        <% end %>
    </div>
  </div>
</div>
